 <div>

      <button
        mat-flat-button
        color="primary"
        [disabled]="!selectedFiles"
        (click)="uploadFiles()"
      >
        Upload
      </button>

<!--    <input-->
<!--      type="file"-->
<!--      id="fileInput"-->
<!--      name="fileInput"-->
<!--      accept="image/*"-->
<!--      (change)="selectFiles($event)"-->
<!--    />-->

    <button type="button" mat-flat-button (click)="fileInput.click()">Choose pic</button>
    <input hidden="hidden" type="file" accept="image/*" (change)="onFileSelect($event)" #fileInput>

   <button mat-flat-button (click)="predict()">Predict</button>
 </div>


